:root {
   --background-color: rgba(32, 32, 32, 1);
   --button-color: rgba(32, 32, 32, 0.5);
   --brighter-color: rgba(96, 96, 96, 0.5);
   --text-color: rgba(255, 255, 255, 1);
   --text-color-darker: rgba(200, 200, 200, 1);
   --accent-color: rgb(130, 197, 255);
}

body {
   font-family: Arial, Helvetica, sans-serif;
   background-color: var(--background-color);
   color: var(--text-color);
}

p {
   font-size: 12pt;
   color: var(--text-color-darker);
}

canvas {
   background-color: transparent;
}

button {
   margin: 0;
   border: 1px solid var(--text-color);
   color: var(--text-color);
   background-color: var(--button-color);
   border-radius: 20px;
   padding: 15px;
   transition: all 0.5s;
}

button:hover {
   border-radius: 0px;
   background-color: var(--brighter-color);
   cursor: pointer;
}

.center {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

#input-drop-area {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 75%;
   height: 75%;
   border-style: dashed;
   border-radius: 25px;
   border-width: 5px;
   border-color: white;
   transform: translate(-50%, -50%);
   background-color: transparent;
   z-index: 1;
}

#loading-area {
   display: none;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

#output-area {
   display: none;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   grid-template-areas:
      "normal-map    point-cloud"
      "chart         point-cloud";
   grid-template-columns: 50% 50%;
   grid-template-rows: 50%;
}

#normal-map,
#point-cloud,
#chart {
   position: relative;
   overflow: hidden;
}

#normal-map {
   grid-area: normal-map;
}

#chart {
   grid-area: chart;
}

#point-cloud {
   grid-area: point-cloud;
}

#point-cloud-canvas-area {
   position: absolute;
   top: 50px;
   left: 0;
   width: 100%;
   height: 100%;
}

#point-cloud-canvas-area canvas {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

#point-cloud-button,
#normal-map-button {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 1;
}

#normal-map img {
   width: 100%;
   height: 100%;
   object-position: center;
   object-fit: cover;
}

#chart canvas {
   width: 100% !important;
   height: 100% !important;
}

#current-task-info {
   z-index: 999;
   background-color: var(--background-color);
   font-size: x-large;
   text-align: center;
   transition: all 0.5s;
   transform: translate(-50%, 100px);
}

progress::-moz-progress-bar {
   background-color: var(--accent-color);
   border-radius: 100px;
   appearance: none;
}
progress::-webkit-progress-value {
   background: var(--accent-color);
   border-radius: 100px;
   appearance: none;
}

progress::-webkit-progress-bar {
   border-radius: 100px;
}

progress {
   border-radius: 100px;
   -webkit-appearance: none;
   appearance: none;
}

@media (orientation: portrait) {
   #output-area {
      grid-template-areas: "normal-map" "point-cloud" "chart";
      grid-template-columns: 100%;
      grid-template-rows: 50% 50% 50%;
   }
}
